@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

html {
  background-image: url('images/background.png');
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  justify-content: center;
  top: 20px;
  width: 420px;
  height: 720px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 5px solid #63606057;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #6360606b;
  background-color: white;
}

.display {
  width: 410px;
  height: 110px;
  background-color: white;
}

button {
  background-color: inherit;
  padding: 0;
  margin: 0;
  border: none;
  height: 124px;
  width: 102.5px;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  color: #8a8a8a;
}

button:focus {
  outline:0;
}

button:hover {
  transition: all ease 0.3s;
  font-size: 50px;

}

span {
  position: relative;
  left: 180px;
  top: 20px;
  font-size: 60px !important;
  font-family: 'Amatic SC', cursive !important;
}

.hide {
  visibility: hidden;
}

hr {
  position: relative;
  top: 50px;
  border: 1px solid #6360606b;
  z-index: 3;
}

.right {
  background-color: #ff6b6b;
  color: #3a1d1d;
}

#top {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.equal {
  color: #ff0000;
}
