.container {
  position: relative;
  top: 30px;
  width: 420px;
  height: 750px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.display {
  width: 395px;
  height: 90px;
  background-color: #b9b3b394;
}

button {
  border: 1px solid black;
  background-color: #b9b3b394;
  height: 80px;
  width: 80px;
  margin: 10px;
}

button:focus {
  outline:0;
}

.back {
  margin-left: 210px;
}

span {
  position: relative;
  left: 180px;
  top: 20px;
  font-size: 40px !important;
}
